// Background

.bg {
  @include gen($colors, background);
  @include gen-haf($colors, background);
}

[class="dark"] {
  .dark-bg {
    @include gen($colors, background);
    @include gen-haf($colors, background);
  }
}

// Color Text

.color {
  @include gen($colors, color);
  @include gen-haf($colors, color);
}

[class="dark"] {
  .dark-color {
    @include gen($colors, color);
    @include gen-haf($colors, color);
  }
}

// Outline 

.outline {
  @each $name, $var in $colors {
    &-#{$name} {
      &:focus {
        outline: 2px solid #{$var};
        outline-offset: 2px;
      }
    }
  }
}

[class="dark"] {
  .dark-outline {
    @each $name, $var in $colors {
      &-#{$name} {
        &:focus {
          outline: 2px solid #{$var};
          outline-offset: 2px;
        }
      }
    }
  }
}
