// Widths and Height

$measures: (
  full: 100%,
  view: 100vh,
  75p: 75%,
  50p: 50%,
  25p: 25%,
);

.w {
  @include gen($measures, width);

  @include mediaquerys {
    @include gen($measures, width);
  }
}

.h {
  @include gen($measures, height);

  @include mediaquerys {
    @include gen($measures, height);
  }
}

.min-w {
  @include gen($measures, min-width);

  @include mediaquerys {
    @include gen($measures, min-width);
  }
}

.min-h {
  @include gen($measures, min-height);

  @include mediaquerys {
    @include gen($measures, min-height);
  }
}

// Positions

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.static {
  position: static;
}

.sticky {
  position: sticky;
}

// Overflows

$overflows: (
  hidden: hidden,
  scroll: scroll,
  visible: visible,
  auto: auto,
  inherit: inherit,
  initial: initial,
);

@mixin overflow-directions {
  &-x {
    @include gen($overflows, overflow-x);
  }

  &-y {
    @include gen($overflows, overflow-y);
  }
}

.overflow {
  @include gen($overflows, overflow);
  @include overflow-directions;

  @include mediaquerys {
    @include gen($overflows, overflow);
    @include overflow-directions;
  }
}

// Container

.container {
  width: 100%;
  margin: 0 auto;

  @include gen($breakpoints, max-width);
}

// Scrollbar

.scrollbar {
  &-thin::-webkit-scrollbar {
    width: 10px;
  }

  &-thin::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
    border: 4px solid transparent;
    background-clip: content-box;
  }

  &-thin::-webkit-scrollbar-thumb {
    background: rgb(70, 70, 70);
    border: 1px solid rgb(0, 0, 0);
  }

  &-thin {
    scrollbar-width: thin;
  }

  &-none::-webkit-scrollbar {
    display: none;
  }

  &-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

// Display

$set-display: (
  none: none,
  flex: flex,
  grid: grid,
  block: block,
  contents: contents,
  inline: inline,
  inline-block: inline-block,
  inline-flex: inline-flex,
);

.display {
  @include gen($set-display, display);

  @include mediaquerys {
    @include gen($set-display, display);
  }
}
