/* _button.scss */

.btn {
  text-align: center;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-weight: 600;
  vertical-align: middle;
  user-select: none;
  font-size: 0.8125rem;
  line-height: 1.5;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  > .disabled {
    cursor: not-allowed;
  }

  &-upper {
    text-transform: uppercase;
  }

  &-r-1 {
    border-radius: 8px;
  }

  &-r-2 {
    border-radius: 100px;
  }

  &-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.7109375rem;
    line-height: 1.5;
  }

  &-lg {
    padding: 0.5rem 2rem;
    font-size: 1.21875rem;
    line-height: 1.75;
  }

  &-block {
    display: block;
    width: 100%;
  }

  &-group {
    display: inline-flex;

    .btn {
      position: relative;
      flex: 1 1 auto;
    }
  }

  &-group > .btn:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &-group > .btn:not(:first-child),
  .btn-group > .btn:not(:last-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &-pointer {
    &:hover {
      cursor: pointer;
    }
  }

  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  & + & {
    margin-left: 1em;
  }

  &-icon {
    padding: 0.5rem;
    background-color: transparent;

    &:active {
      background-color: var(--clr-dark-50) !important;
      outline-width: 2;
      outline-style: solid;
      outline-color: var(--clr-dark-200);
    }

    &-sm {
      padding: 0.15rem;
      background-color: transparent;

      &:active {
        background-color: var(--clr-dark-50) !important;
        outline-width: 2;
        outline-style: solid;
        outline-color: var(--clr-dark-200);
      }
    }
  }

  &-link {
    padding: 0.5rem;
    background-color: transparent;

    &:active {
      background-color: var(--clr-dark-50) !important;
      outline-width: 2;
      outline-style: solid;
      outline-color: var(--clr-dark-200);
    }
  }

  &-primary {
    background-color: var(--clr-primary-500);
    color: var(--clr-white);

    &:active {
      background-color: var(--clr-primary-400) !important;
      outline-width: 2;
      outline-style: solid;
      outline-color: var(--clr-primary-200);
    }

    &:hover {
      background-color: var(--clr-primary-600);
    }
  }

  &-primary-light {
    background-color: var(--clr-white);
    box-shadow: var(--shadow-3);
  }

  &-primary-dark {
    background-color: var(--clr-black);
    color: var(--clr-white);
  }
}
