/**
  * _color.scss
  *
  * Styles for background color, text color and outline
*/

@mixin get-color-hover-active-focus($map, $atributo) {
  @each $nombre, $valor in $map {
    &-hover-#{$nombre}:hover {
      #{$atributo}: $valor;
    }

    &-active-#{$nombre}:active {
      #{$atributo}: $valor !important;
    }

    &-focus-#{$nombre}:focus {
      #{$atributo}: $valor;
    }
  }
}

.bg {
  @include gen($colors, background);
  @include get-color-hover-active-focus($colors, background);
}

[class="dark"] {
  .dark-bg {
    @include gen($colors, background);
    @include get-color-hover-active-focus($colors, background);
  }
}

.color {
  @include gen($colors, color);
  @include get-color-hover-active-focus($colors, color);
}

[class="dark"] {
  .dark-color {
    @include gen($colors, color);
    @include get-color-hover-active-focus($colors, color);
  }
}

.outline {
  @each $name, $var in $colors {
    &-#{$name} {
      &:focus {
        outline: 2px solid #{$var};
        outline-offset: 1px;
      }
    }
  }
}

[class="dark"] {
  .dark-outline {
    @each $name, $var in $colors {
      &-#{$name} {
        &:focus {
          outline: 2px solid #{$var};
          outline-offset: 1px;
        }
      }
    }
  }
}
