/** _flex.scss */

@use '../config/mixins' as m;
@use '../settings' as s;

$flex-directions: (
  'col': column,
  'col-reverse': column-reverse,
  'row': row,
  'row-reverse': row-reverse
);

$flex-wrap: (
  'wrap': wrap,
  'wrap-reverse': wrap-reverse,
  'nowrap': nowrap
);

$flex-grow: (
  'grow': 1,
  'nogrow': 0
);

$flex-shrink: (
  'shrink': 1,
  'noshrink': 0
);

$align-items: (
  'center': center,
  'start': flex-start,
  'end': flex-end,
  'stretch': stretch
);

$justify-content: (
  'center': center,
  'start': flex-start,
  'end': flex-end,
  'stretch': stretch,
  'around': space-around,
  'between': space-between,
  'evenly': space-evenly
);

.flex {
  display: flex;

  @include m.getValueMap($flex-directions, flex-direction);
  @include m.getValueMap($flex-wrap, flex-wrap);
  @include m.getValueMap($flex-grow, flex-grow);
  @include m.getValueMap($flex-shrink, flex-shrink);

  @include m.getMediaQuerys {
    @include m.getValueMap($flex-directions, flex-direction);
  }

  &-1 {
    flex: 1 1 0%;
  }

  &-auto {
    flex: 1 1 auto;
  }

  &-initial {
    flex: 0 1 auto;
  }

  &-none {
    flex: none;
  }
}

.items {
  @include m.getValueMap($align-items, align-items);

  @include m.getMediaQuerys {
    @include m.getValueMap($align-items, align-items);
  }
}

.content {
  @include m.getValueMap($justify-content, justify-content);

  @include m.getMediaQuerys {
    @include m.getValueMap($justify-content, justify-content);
  }
}

@each $name, $value in s.$measures {
  .basis-#{$name} {
    flex-basis: #{$value};
  }
}
