/**
  * _font.scss
  *
  * Maps
  * Text align: $text-align
  * Font sizes: $font-sizes
  * User select: $user-select
  *
  * Mixins
  * Get font sizes: @include get-font-sizes()
*/
$text-align: (
  center: center,
  end: end,
  justify: justify,
  left: left,
  right: right,
  start: start,
  inherit: inherit,
  initial: initial,
);

$font-sizes: (
  "title-xl": (
    font-size: 56px,
    font-weight: 600,
    letter-spacing: -1px,
    line-height: 64px,
  ),
  "title-1": (
    font-size: 40px,
    font-weight: 600,
    letter-spacing: -1px,
    line-height: 48px,
  ),
  "title-2": (
    font-size: 36px,
    font-weight: 500,
    letter-spacing: -0.5px,
    line-height: 44px,
  ),
  "title-3": (
    font-size: 32px,
    font-weight: 500,
    letter-spacing: 0px,
    line-height: 40px,
  ),
  "title-4": (
    font-size: 24px,
    font-weight: 600,
    letter-spacing: 0.25px,
    line-height: 32px,
  ),
  "title-5": (
    font-size: 20px,
    font-weight: 600,
    letter-spacing: 0.5px,
    line-height: 28px,
  ),
  "title-6": (
    font-size: 16px,
    font-weight: 600,
    letter-spacing: 1px,
    line-height: 24px,
  ),
  "subtitle-1": (
    font-size: 16px,
    font-weight: 400,
    letter-spacing: 1.2px,
    line-height: 24px,
  ),
  "subtitle-2": (
    font-size: 14px,
    font-weight: 300,
    letter-spacing: 0.65px,
    line-height: 22px,
  ),
  "body-1": (
    font-size: 16px,
    font-weight: 400,
    letter-spacing: 0.2px,
    line-height: 24px,
  ),
  "body-2": (
    font-size: 14px,
    font-weight: 400,
    letter-spacing: 0.5px,
    line-height: 22px,
  ),
  "button": (
    font-size: 14px,
    font-weight: 500,
    letter-spacing: 1.25px,
    line-height: 22px,
  ),
  "caption": (
    font-size: 12px,
    font-weight: 500,
    letter-spacing: 0.4px,
    line-height: 16px,
  ),
  "simple": (
    font-size: 10px,
    font-weight: 400,
    letter-spacing: 1.5px,
    line-height: 16px,
  ),
  "link": (
    font-size: 14px,
    font-weight: 500,
    letter-spacing: 2px,
    line-height: 22px,
  ),
);

$user-select: (
  none: none,
  auto: auto,
  text: text,
  contain: contain,
  all: all,
);

@mixin get-font-sizes() {
  @each $nombre, $valor in $font-sizes {
    &-#{$nombre} {
      font-size: map-get($valor, "font-size");
      font-weight: map-get($valor, "font-weight");
      letter-spacing: map-get($valor, "letter-spacing");
      line-height: map-get($valor, "line-height");
    }
  }
}

.text {
  @include gen($text-align, text-align);
  @include get-font-sizes();

  @include getMediaQuerys {
    @include gen($text-align, text-align);
    @include get-font-sizes();
  }
}

.text-wrap {
  word-wrap: break-word;
}

.space-nowrap {
  white-space: nowrap;
}

.decoration-none {
  text-decoration: none;
}

.select {
  @include gen($user-select, user-select);
}
